{% extends "shellpage.html" %}
{% block content %}
    <center>
        <h2>Welcome {{ session['username'] }}</h2>
    </center>
    <div class="row">
                <div class="col-md-3">
                    <a role="button" class="btn btn-primary" href="/logout" >Logout</a>
                </div>
            </div>
    <a class="btn btn-primary" href="./admin/addnews" role="button">Add news</a>
    <a class="btn btn-primary" href="./admin/modifynews" role="button">Modify news</a>
   <a class="btn btn-primary" href="./admin/deletenews" role="button">Delete news</a>
    <h4>News List</h4>
    <table class="table table-sm">
                    <thead>
                        <tr>
                          <th>Sr.No</th>
                          <th>Category</th>
                          <th>News</th>
                        </tr>
                    </thead>
                    <tbody>
                         {% for key1,value1 in news.items() %}
                        <tr>
                            <td>{{key1}}</td>
                            {% for key in value1 %}
                                <td>{{key}}</td>
                            {% endfor %}
                        </tr>
                          {% endfor %}
                    </tbody>
                </table>
{% endblock %}
